.thumbnail-wrapper {
    width:100%;
    height:200px;
    background: #b6cad9;
}
img.thumbnail {
    width:100%;
    height:100%;
    object-fit: cover;
}

.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.spinner-wrapper {
    display: flex;
    flex-direction: column; /* NEW */
    justify-content: center;
    align-items: center;
    top:0;
    left:0;
    width:100%;
    height: 100%;
}
