<mat-list-item>
    <img matListAvatar (click)="clickThumbanil()" [src]="thumbnail" alt="...">
    <div matLine> {{ resource.getTitle() }} </div>
    <div matLine>
        <app-ranking [editable]="false" [value]="resource.getRanking()"></app-ranking>
        &nbsp;
        <app-file-size [size]="resource.getSize()"></app-file-size>
    </div>
    <div matLine>
        <span *ngFor="let tag of resource.getResourceTagModelList()">{{
        tag.getName()
        }}</span>
    </div>
    <button mat-icon-button (click)="clickOpenDetails()">
        <mat-icon>info</mat-icon>
    </button>
    <button mat-icon-button (click)="clickExecuteMedia()">
        <mat-icon>play_arrow</mat-icon>
    </button>
</mat-list-item>
