<p-card styleClass="ui-card-shadow" class="card">
    <p-header>
        <div class="thumbnail-section">
            <div *ngIf="!resource.thumbnailPath" class="spinner-wrapper">
                <i class="pi pi-clock" style="font-size: 3em"></i>
                <!--<i class="pi pi-spin pi-spinner" style="font-size: 3em"></i>-->
            </div>
            <div class="thumbnail-wrapper" *ngIf="resource.thumbnailPath">
                <img class="thumbnail" [src]="resource.thumbnailPath" alt="" />
                <div class="show-play" (click)="clickExecuteMedia()">
                    <i class="pi pi-caret-right"></i>
                </div>
            </div>
        </div>
    </p-header>
    <div>
        <div class="title">
            <span [pTooltip]="resource.getTitle()">
                {{ resource.getTitle() }}
            </span>
        </div>
        <div class="card-section">
            <p-rating
                [(ngModel)]="resource.ranking"
                [readonly]="true"
                [cancel]="false"
            ></p-rating>

            <span *ngIf="resource.isNew()">NEW</span>
        </div>
        <div class="card-section">
            <app-tag
                *ngFor="let tag of resource.getResourceTagModelList()"
                [tagModel]="tag"
            >
            </app-tag>
            <!--<span *ngFor="let tag of resource.getResourceTagModelList()">{{-->
            <!--tag.getName()-->
            <!--}}</span>-->
        </div>
    </div>
    <p-footer>
        <button
            pButton
            type="button"
            (click)="clickOpenDetails()"
            icon="fas fa-address-card"
            style="margin-right: .25em"
        ></button>
    </p-footer>
</p-card>
