<!--<input [(ngModel)]="searchInput" (change)="startSearch()" />-->
<!--<button (click)="startSearch()">search</button>-->
<div class="search-input-wrapper">
    <input
        pInputText
        class="text-input"
        type="text"
        [value]="searchText$ | async"
        (input)="onChangeSearchText($event.target.value)"
        placeholder="search"
    />
</div>
<app-tag-select-list
    (changeTagList)="onChangeSearchTagList($event)"
    [allTagList]="projectTagIdList$ | async"
    [selectedTagIdList]="searchTagIdList$ | async"
></app-tag-select-list>
