<!--<input [(ngModel)]="searchInput" (change)="startSearch()" />-->
<!--<button (click)="startSearch()">search</button>-->
<div class="search-input-wrapper">
    <input
        pInputText
        class="text-input"
        type="text"
        [(ngModel)]="searchInput"
        (ngModelChange)="startSearch()"
        placeholder="search"
    />
</div>
<app-tag-select-list
    (changeAddedTags)="changeAddedTags($event)"
    [allTagList]="projectTags"
    [selectedTagList]="selectedTagList"
></app-tag-select-list>
