<div *ngIf="!resource">
    <div class="center">
        <i class="pi pi-file-excel not-found-icon"></i>
        <p>Media doesn't exist</p>
    </div>
</div>
<div *ngIf="resource" class="side-menu-container">
    <div class="thumbnail-section">
        <app-thumbnail
            [thumbnailPath]="thumbnailPath"
            (click)="clickOpenFile()"
        ></app-thumbnail>
    </div>
    <div class="thumbnail-gallery">
        <div
            class="thumbnail-wrapper-small"
            *ngFor="let thumbnailPath of resource.thumbnailList"
        >
            <app-thumbnail
                [thumbnailPath]="thumbnailPath"
                (click)="changeThumbnail(thumbnailPath)"
            ></app-thumbnail>
        </div>
    </div>
    <app-text
        [text]="resource.title"
        (changed)="saveTitle($event)"
    ></app-text>
    <div class="file-path-text">{{ resource.filePath }}</div>
    <div class="align-meta-info">
        <app-file-size [size]="resource.size"></app-file-size>
        <span>{{ resource.width }} x {{ resource.height }}</span>
        <app-video-length [length]="resource.duration"></app-video-length>
    </div>
    <div class="align-rating">
        <p-rating
            [ngModel]="resource.ranking"
            (onRate)="setRanking($event.value)"
            (onCancel)="setRanking(0)"
        ></p-rating>
    </div>
    <div>
        <app-description
            [text]="resource.description"
            (changed)="saveDescription($event)"
        ></app-description>
    </div>

    <app-tag-select-list
        (changeTagList)="onChangeAddedTags($event)"
        [allTagList]="tagList$ | async"
        [selectedTagIdList]="resource.tagIdList"
    ></app-tag-select-list>
</div>
