<div>
    <p-sidebar
        [(visible)]="visibleSidebar"
        [baseZIndex]="10000"
        position="right"
        styleClass="ui-sidebar-sm"
    >
        <div *ngIf="!resource">
            <div class="center">
                <i class="pi pi-file-excel not-found-icon"></i>
                <p>Media doesn't exist</p>
            </div>
        </div>
        <div *ngIf="resource" class="side-menu-container">
            <div class="thumbnail-wrapper">
                <div
                    *ngIf="!thumbnailPath && !resource.thumbnailPath"
                    class="spinner-wrapper"
                >
                    <!--<i class="pi pi-spin pi-spinner" style="font-size: 3em"></i>-->
                    <i class="pi pi-clock" style="font-size: 3em"></i>
                </div>

                <img
                    *ngIf="thumbnailPath || resource.thumbnailPath"
                    class="thumbnail"
                    (click)="clickThumbnail()"
                    [src]="thumbnailPath || resource.thumbnailPath"
                    alt=""
                />
            </div>
            <div class="thumbnail-gallery">
                <div
                    class="thumbnail-wrapper-small"
                    *ngFor="let thumbnailPath of resource.thumbnailList"
                >
                    <div *ngIf="!thumbnailPath" class="spinner-wrapper">
                        <!--<i class="pi pi-spin pi-spinner" style="font-size: 3em"></i>-->
                        <i class="pi pi-clock" style="font-size: 3em"></i>
                    </div>

                    <img
                        *ngIf="thumbnailPath"
                        class="thumbnail"
                        (click)="changeThumbnail(thumbnailPath)"
                        [src]="thumbnailPath"
                        alt=""
                    />
                </div>
            </div>
            <app-title
                [text]="resource.getTitle()"
                (changed)="saveTitle($event)"
            ></app-title>
            <div class="file-path-text">{{ resource.getFilePath() }}</div>
            <div class="align-meta-info">
                <app-file-size [size]="resource.getSize()"></app-file-size>
                <span>{{ resource.width }} x {{ resource.height }}</span>
                <app-video-length [length]="resource.duration"></app-video-length>
            </div>

            <div class="align-rating">
                <p-rating
                    [ngModel]="resource.ranking"
                    (onRate)="setRanking($event)"
                    (onCancel)="cancelRating(0)"
                ></p-rating>
            </div>
            <div>
                <app-description
                    [text]="resource.getDescription()"
                    (changed)="saveDescription($event)"
                ></app-description>
            </div>
            <div>
                <button (click)="clickOpenFile(resource.getId())">open</button>
            </div>

            <select name="profile" [(ngModel)]="selectedTagId" (change)="addTag()">
                <option
                    *ngFor="let tag of availableProjectTagModelList"
                    [value]="tag.getId()"
                >
                    {{ tag.getName() }}
                </option>
            </select>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Tag</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tag of resource.getResourceTagModelList()">
                        <td>{{ tag.getName() }}</td>
                        <td><button (click)="removeTag(tag.getId())">remove</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </p-sidebar>
</div>
