

.tag-button {
    width: 100%;
    //background-color: #d4ead4 !important;
    & ::ng-deep {
        & .ui-button {
            width: 100%;
            border: 1px solid grey !important;
            border-radius: 10px !important;
            background-color: #dfdfdf !important;
        }
        & .ui-button:hover {
            background-color: #f3f3f3 !important;
        }
        & .ui-button-text {
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 11px;
        }
    }
}
