<div class="p-grid">
    <div class="p-col-fixed" style="width:150px;">
        <app-order></app-order>
        <app-search></app-search>
    </div>
    <div class="p-col">
        <app-list
            [resourceList]="resourceList"
            (openFile)="openFile($event)"
            (showDetails)="showFileDetails($event)"
            (openThumbnailModal)="openThumbnailModal($event)"
        ></app-list>

        <app-details-modal
            (openFile)="openFile($event)"
            (showDetails)="showFileDetails($event)"
            (openThumbnailModal)="openThumbnailModal($event)"
        ></app-details-modal>
    </div>
</div>
