<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <app-order></app-order>
            <app-search></app-search>

        </div>
        <div class="col-7">
            <app-list
                [resourceList]="resourceList"
                (openFile)="openFile($event)"
                (showDetails)="showFileDetails($event)"
            ></app-list>

            <app-details-modal
                (openFile)="openFile($event)"
                (showDetails)="showFileDetails($event)"
            ></app-details-modal>
        </div>
    </div>
</div>
