.tags-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.tag-button {
    width: 48%;
    padding: 3px 0;

    & ::ng-deep {
        & .ui-button {
            width: 100%;
            background-color: #d4ead4 !important;
        }
        & .ui-button-text {
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 11px;
        }
    }
}
