<select name="profile" (change)="addTag($event.target.value)">
    <option [selected]="_selectedTagId === '0'">Select Tag</option>
    <option
        *ngFor="let tag of _availableTagList"
        [value]="tag.getId()"
        [selected]="_selectedTagId !== '0'"
    >
        {{ tag.getName() }}
    </option>
</select>
<div class="tags-section">
    <p-button
        *ngFor="let tag of _selectedTagList"
        [label]="tag.getName()"
        (click)="removeTag(tag.getId())"
        styleClass="ui-button-secondary"
        class="tag-button"
    ></p-button>
</div>
