<app-top-menu></app-top-menu>

<!--<ul class="nav nav-tabs">-->
<!--<li class="nav-item">-->
<!--<a-->
<!--class="nav-link"-->
<!--routerLink="/"-->
<!--routerLinkActive="active"-->
<!--[routerLinkActiveOptions]="{ exact: true }"-->
<!--&gt;Project</a-->
<!--&gt;-->
<!--</li>-->
<!--<li class="nav-item">-->
<!--<a-->
<!--class="nav-link"-->
<!--routerLink="/files"-->
<!--routerLinkActive="active"-->
<!--[routerLinkActiveOptions]="{ exact: true }"-->
<!--&gt;Files</a-->
<!--&gt;-->
<!--</li>-->
<!--<li class="nav-item">-->
<!--<a-->
<!--class="nav-link"-->
<!--routerLink="/tags"-->
<!--routerLinkActive="active"-->
<!--[routerLinkActiveOptions]="{ exact: true }"-->
<!--&gt;Tags</a-->
<!--&gt;-->
<!--</li>-->
<!--</ul>-->

<router-outlet></router-outlet>
