<select name="profile" (change)="addTag($event.target.value)" [disabled]="availableTagList.length < 1">
    <option [selected]="selectedTagId === '0'">Select Tag</option>
    <option
        *ngFor="let tag of availableTagList"
        [value]="tag.getId()"
        [selected]="selectedTagId !== '0'"
    >
        {{ tag.getName() }}
    </option>
</select>
<div class="tags-section">
    <span *ngFor="let tag of selectedTags">
        <app-tag (click)="removeTag(tag.getId())" [name]="tag.getName()"></app-tag>
    </span>
</div>
