<select name="profile" (change)="addTag($event.target.value)" [disabled]="_availableTagList.length < 1">
    <option [selected]="_selectedTagId === '0'">Select Tag</option>
    <option
        *ngFor="let tag of _availableTagList"
        [value]="tag.getId()"
        [selected]="_selectedTagId !== '0'"
    >
        {{ tag.getName() }}
    </option>
</select>
<div class="tags-section">
    <span *ngFor="let tag of _selectedTagList">
        <app-tag (clickTag)="removeTag(tag.getId())" [tagModel]="tag"></app-tag>
    </span>
</div>
