<select name="profile" (change)="addTag($event.target.value)" [disabled]="_availableTagList.length < 1">
    <option [selected]="_selectedTagId === '0'">Select Tag</option>
    <option
        *ngFor="let tag of _availableTagList"
        [value]="tag.id"
        [selected]="_selectedTagId !== '0'"
    >
        {{ !tag.parentId ? tag.name : "&#x021B3;&nbsp;" + tag.name }}
    </option>
</select>
<div class="tags-section">
    <span *ngFor="let tag of _selectedTagList">
        <app-tag (click)="onRemoveTag(tag.id)" [name]="tag.name"></app-tag>
    </span>
</div>
