<div class="row  justify-content-md-center">
    <div class="col-8 text-center">
        <h1>Project doesn't exist on</h1>
        <strong>{{projectPath}}</strong>
        <p>Do you want to create new project</p>
    </div>
</div>
<div class="row  justify-content-md-center">
    <div class="col-6 text-left">
        <input [(ngModel)]="createSubFolderTags" type="checkbox"/> Create tags for sub folders
    </div>
</div>
<div class="row  justify-content-md-center">
    <div class="col-6 text-center">
        <button class="btn btn-primary" (click)="onCreateProject()">Create Project</button>
    </div>
</div>
