<p-card styleClass="ui-card-shadow" class="card">
    <p-header>
        {{ log("CardComponent.render") }}
        <div class="thumbnail-section">
            <div *ngIf="!((resource$ | async).thumbnailList || [])[0]" class="spinner-wrapper">
                <i class="pi pi-clock" style="font-size: 3em"></i>
            </div>
            <div class="thumbnail-wrapper" *ngIf="((resource$ | async).thumbnailList || [])[0]">
                <img class="thumbnail" [src]="((resource$ | async).thumbnailList || [])[0]" alt="" />
                <div class="show-play" (click)="onClickThumbnail()">
                    <i class="pi pi-caret-right"></i>
                </div>
            </div>
        </div>
    </p-header>
    <div>
        <div class="title">
            <span [pTooltip]="(resource$ | async).title">
                {{ (resource$ | async).title }}
            </span>
        </div>
        <div class="align-meta-info">
            <app-file-size [size]="(resource$ | async).size"></app-file-size>
            <span>{{ (resource$ | async).width }} x {{ (resource$ | async).height }}</span>
            <app-video-length [length]="(resource$ | async).duration"></app-video-length>
        </div>
        <div class="align-rating">
            <p-rating
                [ngModel]="(resource$ | async).ranking"
                [readonly]="true"
                [cancel]="false"
            ></p-rating>

            <span *ngIf="(resource$ | async).isNew">NEW</span>
        </div>
        <div class="card-section">
            <app-tag-list [projectTagList]="(tagList$ | async)" [resourceTagIdList]="(resource$ | async).tags"></app-tag-list>
        </div>
    </div>
    <p-footer>
        <button
            pButton
            type="button"
            (click)="onClickDetailsButton()"
            icon="fas fa-address-card"
            style="margin-right: .25em"
        ></button>

        <button
            pButton
            class="alert-button"
            type="button"
            (click)="onClickDeleteButton()"
            icon="pi pi-trash"
            style="margin-right: .25em;"
        ></button>
    </p-footer>
</p-card>
