<p-card styleClass="ui-card-shadow" class="card">
    <p-header>
        <div class="thumbnail-section">
            <div *ngIf="!resource.thumbnailPath" class="spinner-wrapper">
                <i class="pi pi-clock" style="font-size: 3em"></i>
                <!--<i class="pi pi-spin pi-spinner" style="font-size: 3em"></i>-->
            </div>
            <div class="thumbnail-wrapper" *ngIf="resource.thumbnailPath">
                <img class="thumbnail" [src]="resource.thumbnailPath" alt="" />
                <div class="show-play" (click)="onClickThumbnail()">
                    <i class="pi pi-caret-right"></i>
                </div>
            </div>
        </div>
    </p-header>
    <div>
        <div class="title">
            <span [pTooltip]="title">
                {{ title }}
            </span>
        </div>
        <div class="card-section">
            <p-rating
                [(ngModel)]="rating"
                [readonly]="true"
                [cancel]="false"
            ></p-rating>

            <span *ngIf="resource.isNew()">NEW</span>
        </div>
        <div class="card-section">
            <app-tag-list [tag-list]="tagList"></app-tag-list>
        </div>
    </div>
    <p-footer>
        <button
            pButton
            type="button"
            (click)="onClickDetailsButton()"
            icon="fas fa-address-card"
            style="margin-right: .25em"
        ></button>
    </p-footer>
</p-card>
