<p-card styleClass="ui-card-shadow" class="card" *ngIf="resource$ | async as resource">
    <p-header>
        <div class="thumbnail-section">
            <app-thumbnail
                [thumbnailPath]="(resource.thumbnailList || [])[0]"
                (click)="onClickThumbnail()"
            ></app-thumbnail>
        </div>
    </p-header>
    <div>
        <div class="title">
            <span [pTooltip]="resource.title">
                {{ resource.title }}
            </span>
        </div>
        <div class="align-meta-info">
            <app-file-size [size]="resource.size"></app-file-size>
            <span>{{ resource.width }} x {{ resource.height }}</span>
            <app-video-length [length]="resource.duration"></app-video-length>
        </div>
        <div class="align-rating">
            <p-rating
                [ngModel]="resource.ranking"
                [readonly]="true"
                [cancel]="false"
            ></p-rating>

            <span *ngIf="checkIfNew(resource.added)">NEW</span>
        </div>
        <div class="card-section">
            <app-tag-list
                [projectTagList]="tagList$ | async"
                [resourceTagIdList]="(resource$ | async).tagIdList"
            ></app-tag-list>
        </div>
    </div>
    <p-footer>
        <button
            pButton
            type="button"
            (click)="onClickDetailsButton()"
            icon="fas fa-address-card"
            style="margin-right: .25em"
        ></button>

        <button
            pButton
            class="alert-button"
            type="button"
            (click)="onClickDeleteButton()"
            icon="pi pi-trash"
            style="margin-right: .25em;"
        ></button>
    </p-footer>
</p-card>
