<div class="p-grid">
    <app-side-menu class="p-col-fixed">
        <app-order></app-order>
        <app-search  [projectTagList]="getProjectTagList()"></app-search>
    </app-side-menu>
    <div class="p-col">
        <app-list
            *ngIf="resourceList"
            [resourceList]="resourceList"
            (clickThumbnail)="onClickThumbnail($event)"
            (clickDetailsButton)="onClickDetailsButton($event)"
        ></app-list>

        <app-details-modal></app-details-modal>
        <app-thumbnails-modal></app-thumbnails-modal>
        <app-tags-modal></app-tags-modal>
    </div>
</div>
