<div class="p-grid">
    <app-side-menu class="p-col-fixed">
        <app-order></app-order>
        <app-search
            *ngIf="_tagList"
            [projectTagList]="_tagList"
            [searchCriteria]="_search"
            (changeSearch)="onChangeSearch($event)"
        ></app-search>
    </app-side-menu>
    <div class="p-col">
        <app-list
            (clickThumbnail)="onClickThumbnail($event)"
            (clickDetailsButton)="onClickDetailsButton($event)"
            (clickDeleteButton)="onClickDeleteButton($event)"
        ></app-list>

        <app-details-modal></app-details-modal>
        <app-tags-modal></app-tags-modal>
        <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
    </div>
</div>
