.form {

  &__subform {
    legend {
      font-size: 14px;
      font-weight: normal;
    }
  }
  &__element {
    @extend .form-control;
  }
  &__button {
    @extend .btn;
    @extend .btn-default;
  }
  &__element-helper {
    &--error {
      color: red;
    }
  }
  &__group {
    @extend .form-group;

    &--disabled-edit{
      color: grey;
    }
  }
}

.button {
  @extend .form__button;
}
