.form {

  &__subform {
    legend {
      font-size: 14px;
      font-weight: normal;
    }
  }
  &__element {
    @extend .form-control;
  }
  &__special {
    display: block;
  }
  &__element-helper {
    &--error {
      color: red;
    }
  }
  &__group {
    @extend .form-group;
  }
}
