.list {
  &__row {
    background-color: red;
    border: 1px solid green;
    width:100%;

    &--long {
      height: auto;
      .list__additional {
        height: auto;
      }
    }
  }
  &__additional {
    height: 0px;
    overflow: hidden;
  }
  &__name {
    font-weight: bold;
    font-size: 15px;
  }
  &__original-path {
    font-style: italic;
    font-size: 11px;
  }
  &__size {

  }
  &__description {

  }
}
