.list {
  &__table {
    @extend .table;
    @extend .table-striped;
    @extend .table-hover;
    table-layout: fixed;
  }
  &__column {
    width: auto;
    &--xxs {
      width:50px;
    }
    &--xs {
      width:50px;
    }
    &--sm {
      width:80px;
    }
  }
  &__filter {
    width: 100%;
  }
}
