.listing {
  background-color: $near-white;
  border-bottom: 1px solid #dddddd;
  width:100%;
  padding: 5px;
  cursor: pointer;

  &:after {
    content: "";
    display: block;
    clear: both;
  }

  &__avatar {
    float: left;
  }
  &__name {
    margin-left: 10px;
    float: left;
    white-space: nowrap;
    width: calc(100% - 164px);
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
