.list {
  &__row {
    background-color: $near-white;
    border-bottom: 1px solid #dddddd;
    width:100%;
    padding: 5px;
    &--long {
      height: auto;
      .list__additional {
        height: auto;
      }
    }
    &--new {
      background: repeating-linear-gradient(
          135deg,
          #afff92,
          #afff92 10px,
          #77fa51 10px,
          #77fa51 20px
      );
    }
    &--not-changed {
      background: repeating-linear-gradient(
          135deg,
          #e4e6e3,
          #e4e6e3 10px,
          #c9edbb 10px,
          #c9edbb 20px
      );
    }
    &--delete {
      background: repeating-linear-gradient(
          135deg,
          #ff8085,
          #ff8085 10px,
          #fa393f 10px,
          #fa393f 20px
      );
    }
  }
  &__additional {
    height: 0px;
    overflow: hidden;
  }
  &__name {
    cursor: pointer;
    padding:5px 50px 5px 0px;
    font-weight: bold;
    font-size: 15px;
  }
  &__original-path {
    cursor: pointer;
    font-style: italic;
    font-size: 11px;
  }
  &__meta {
    width:100%;
    font-weight: bold;
  }
  &__meta-title {
    font-weight: normal;
  }
  &__name {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__description {
    padding: 10px;
    i {
      font-style: italic;
    }
  }
  &__actions {
    margin-top:10px;
    height:20px;
    text-align: center;
  }
  &__more {
    cursor: pointer;
    float: left;
  }
  &__open {
    cursor: pointer;
    margin: 0 auto;
    display: inline;
  }
  &__manage {
    cursor: pointer;
    float: right;
  }
}
