.body-modal {
  &--no-scroll {
    overflow: hidden;
  }
}
.modal-background {
  z-index: 200;
  display: block;
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal {
  z-index: 201;
  display: block;
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  &__content {
    background-color: white;
    position: absolute;
    top:20px;
    bottom: 20px;
    left: 50px;
    right: 50px;
    padding: 0px;
    border: 1px solid #aaa;
    border-radius: 5px;
  }
  &__header {
    position: relative;
    padding: 10px;
    border-bottom: 1px solid #aaa;
    height:40px;
  }
  &__title {
    margin: 0px;
    width:100%;
    padding-right:50px;
  }
  &__button-close {
    position: absolute;
    right: 10px;
    top:7px;
    border: 0px solid white;
    background-color: transparent;
  }
  &__body {
    overflow: auto;
    position: absolute;
    top: 40px;
    bottom:54px;
    left:0;
    right:0;
    padding: 10px;
  }
  &__footer {
    position: absolute;
    bottom: 0px;
    left: 0;
    right:0;
    height:54px;
    padding: 10px 10px;
    border-top: 1px solid #aaa;


  }
  &__button-action {
    @extend .button;
    @extend .button--primary;
    float: right;
    margin-left: 5px;

    &--secondary {
      @extend .button--secondary;
      float: left;
      margin-left: 0px;
      margin-right: 5px;
    }
  }
}
