.tag {
  display: block;
  width: 150px;
  margin: 3px;
  cursor: pointer;
  position: relative;
  &--inline {
    display: inline-block;
  }
  &__tag {
    display: inline-block;
    background: #468847;
    width: 100%;
    padding: 4px 3px 3px 3px;
    font-size: 12px;
    border-radius: 12px;
    box-sizing: border-box;
    text-align: center;
    color: white;
  }
  &--removable {
    width: 185px;
    .tag__tag {
      padding-right: 30px;
    }
    .tag__remove-icon {
      @extend .fa;
      @extend .fa-times;
      color: grey;
      text-align: center;
      display: block;
      position: absolute;
      top: 3px;
      right: 3px;
      padding: 3px 2px 4px 2px;
      font-size: 12px;
      border-radius: 12px;
      width: 20px;
      background: white;
    }
  }

}
