.changeable-tag-wrapper {
  padding-left: 30px;
  position: relative;
  &--negative {
    .changeable-tag-wrapper__change-button {
      background: #00db1b;
    }
    .tag__tag {
      background: #db0e21;
    }
  }
  &--positive {
    .changeable-tag-wrapper__change-button {
      background: #db0e21;
    }
    .tag__tag {
      background: #00db1b;
    }
  }
  &__change-button{
    position: absolute;
    width: 25px;
    height: 25px;
    top:0;
    left: 0;
    background: grey;
  }
}
.tag {
  display: block;
  width: 150px;
  margin: 3px;
  position: relative;
  &--inline {
    display: inline-block;
  }
  &__tag {
    display: inline-block;
    background: #3498db;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 6px 5px 6px 5px;
    font-size: 12px;
    border-radius: 13px;
    box-sizing: border-box;
    text-align: center;
    color: white;
    &--neutral-color {
      background: #1b8edb;
    }
    &--positive-color {
      background: #00db1b;
    }
    &--negative-color {
      background: #db0e21;
    }
  }
  &--clickable {
    cursor: pointer;
    .tag__tag--neutral-color:hover {
      background: #1377db;
    }
  }
  &--removable {
    width: 185px;
    .tag__tag {
      padding-right: 30px;
    }
    .tag__remove-icon {
      @extend .fa;
      @extend .fa-times;
      color: white;
      text-align: center;
      display: block;
      position: absolute;
      top: 0px;
      right: 10px;
      height:100%;
      border-left: 1px solid white;
      padding: 8px 10px 7px 10px;
      font-size: 12px;
      width: 20px;
    }
  }
}
