.image-gallery-attribute {
  width: 100%;
  overflow: scroll;

  &__wrapper {
    width: auto;
    display: inline-flex;

  }
  &__thumbnail-wrapper {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: inline-table;
    margin: 3px;
    border: 2px solid #aaa;
  }
  &__thumbnail {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
}
