<i class="far fa-address-card"></i>
<i class="pi pi-check"></i>
<i class="pi pi-times"></i>
<p-tabMenu [model]="items"></p-tabMenu>
<!--<header class="aw-top-menu grid-container full">-->
    <!--<ul class="menu">-->
        <!--<li class="menu-text">MyMedia</li>-->
        <!--<li class="is-active">-->
            <!--<a-->
                <!--routerLink="/"-->
                <!--routerLinkActive="active"-->
                <!--[routerLinkActiveOptions]="{ exact: true }"-->
                <!--&gt;Project</a-->
            <!--&gt;-->
        <!--</li>-->
        <!--<li>-->
            <!--<a-->
                <!--routerLink="/files"-->
                <!--routerLinkActive="active"-->
                <!--[routerLinkActiveOptions]="{ exact: true }"-->
                <!--&gt;Files</a-->
            <!--&gt;-->
        <!--</li>-->
        <!--<li>-->
            <!--<a-->
                <!--routerLink="/tags"-->
                <!--routerLinkActive="active"-->
                <!--[routerLinkActiveOptions]="{ exact: true }"-->
                <!--&gt;Tags</a-->
            <!--&gt;-->
        <!--</li>-->
    <!--</ul>-->
<!--</header>-->
