<header class="aw-top-menu grid-container full">
    <ul class="menu">
        <li class="menu-text">MyMedia</li>
        <li class="is-active">
            <a
                routerLink="/"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                >Project</a
            >
        </li>
        <li>
            <a
                routerLink="/files"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                >Files</a
            >
        </li>
        <li>
            <a
                routerLink="/tags"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                >Tags</a
            >
        </li>
    </ul>
</header>
