<header>
    <mat-toolbar color="primary">
        <h1>MyMedia</h1>

        <span
            ><a
                class="nav-link"
                routerLink="/"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                >Project</a
            ></span
        >
        <span class = "fill-remaining-space"></span>
        <span
            ><a
                class="nav-link"
                routerLink="/files"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                >Files</a
            ></span
        >
        <span>
            <a
                class="nav-link"
                routerLink="/tags"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                >Tags</a
            >
        </span>
    </mat-toolbar>
</header>
