<div class="p-grid">
    <!--<div *ngFor="let resource of _resourceList">{{resource}}</div>-->
    <app-card
        class="p-col-4"
        *ngFor="let resource of _managedCardList"
        [id]="resource.getId()"
        [ranking]="resource.ranking"
        [title]="resource.title"
        [thumbnailPath]="resource.thumbnailPath"
        [isNew]="resource.isNew"
        [tagList]="resource.getTagList()"
        (clickDetailsButton)="onClickDetailsButton($event)"
        (clickThumbnail)="onClickThumbnail($event)"
    >
    </app-card>
</div>
