<div class="p-grid">
    {{ log("ListComponent.render") }}
    <!--<div *ngFor="let resource of _resourceList">{{resource}}</div>-->
    <app-card
        class="p-col-4"
        *ngFor="let resource of _managedResourceList; trackBy: trackByList"
        [resource]="resource"
        [tagList]="tagList"
        (clickDetailsButton)="onClickDetailsButton($event)"
        (clickThumbnail)="onClickThumbnail($event)"
        (clickDeleteButton)="onClickDeleteButton($event)"
    >
        {{ log("ListComponent.render.card") }}
    </app-card>
</div>
