<div class="create-section">
    <input type="text" pInputText [(ngModel)]="tagName" />
    <p-button label="Create" (click)="onNewTag()"></p-button>
</div>
<p-table [value]="tagList$ | async">
    <ng-template pTemplate="header">
        <tr>
            <th colspan="4">tag name</th>

            <th colspan="1">occurence</th>
            <th colspan="1">actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tag>
        <tr>
            <td colspan="4">
                <app-text
                    [text]="tag.name"
                    (changed)="onEditTag(tag.id, $event)"
                ></app-text>
            </td>
            <td colspan="1"></td>
            <td colspan="1">
                <!--<button (click)="editTag(tag.getId())">edit</button>-->
                <p-button
                    icon="pi pi-times"E
                    styleClass="ui-button-danger"
                    (click)="onRemoveTag(tag.id)"
                ></p-button>
            </td>
        </tr>
    </ng-template>
</p-table>
